body {
 background-color: darkkhaki;
}

form.login {
 max-width: 40px;
 /* margin: 0 auto; */
}

input {
 display: block;
 margin-bottom: 5px;
 width: 50%;
 padding: 5px 10px;
 border: 1px solid blueviolet;
 border-radius: 5px;
 background-color: beige;
}

button {
 width: 10%;
 font-weight: bold;
 padding: 5px 1px;
 border: 1px solid rgb(19, 1, 35);
 border-radius: 5px;
 background-color: rgb(228, 228, 5);
 margin-bottom: 50px;
}

body a.signupL,
a.homeL {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: rgb(88, 28, 43);
}

.popup {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 10px;
 background-color: #fff;
 border: 1px solid #ccc;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 z-index: 1000;
}