body {
 background-color: darkkhaki;
}

form.AdminEdit {
 max-width: 300px;
}

input {
 margin-bottom: 15px;
}

button {
 width: 50%;
 font-weight: bold;
 font-size: large;
 padding: 5px 1px;
 border: 1px solid rgb(19, 1, 35);
 border-radius: 5px;
 background-color: rgb(228, 228, 5);
 margin-bottom: 50px;
}

body a.homeS {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: rgb(88, 28, 43);
 text-decoration: none;
}

p.input,
label.select {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 15px;
 padding: 10px;
 font-weight: bold;
 font-size: larger;
 background-color: rgb(63, 31, 39);
}

select.select {
 color: rgb(19, 2, 39);
 cursor: pointer;
 border: 1px solid #123;
 border-radius: 15px;
 padding: 5px;
 font-weight: bold;
 font-size: large;
}

label.selectTrue,
label.selectAdmin {
 color: rgb(19, 2, 39);
 font-weight: bold;
 font-size: larger;
}

label.selectFalse,
label.selectUser {
 color: rgb(19, 2, 39);
 font-weight: bold;
 font-size: larger;
 margin-left: 50px;
}