* {
 box-sizing: border-box;
}

body {
 color: #222;
 background-color: darkkhaki;
}
table, th, td {
 border: 2px solid rgb(15, 15, 15);
 border-collapse: collapse;
 padding: 10px;
 cursor: pointer;
}

body a.homeS {
 color: rgb(227, 221, 234);
 border: 1px solid #123;
 border-radius: 5px;
 padding: 5px;
 font-weight: bold;
 background-color: rgb(88, 28, 43);
 text-decoration: none;
}