<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="stylesheet" href="/signup.css">
</head>

<body>

 <h2>User's Edit-Page</h2>
 <form class="signup" action="/users/profile/edit" method="post">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="intro" placeholder="Intro">
  <input type="text" name="about" placeholder="About">
  <input type="text" name="tools" placeholder="Tools">
  <input type="text" name="favoriteQuote" placeholder="Favorite Quote">
  <input type="text" name="howManyMonthsProgramming" placeholder="How Many Months Programming">
  <button type="submit">Save Changes</button>
 </form>
 <br>
 <a class="homeS" href="/users/profile">Back Home</a>
 <a class="homeS" href="/users/settings">Change Password</a>

</body>

</html>