<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="stylesheet" href="/home.css">
</head>
<body>
 <header>
  <a href="home" class="home">Portfolio</a>
  <nav>
  <a class="loginP" href="/auth/login">Login</a>
  <a class="signupP" href="/auth/signup">Sign Up</a>
  <a class="usersP" href="/users">Search Users</a>
  <a class="adminP" href="/auth/admin/login">Admin</a>
  </nav>
 </header>
 <h1>Welcome Home</h1>
</body>
</html>