<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Portfolio</title>
 <link rel="stylesheet" href="/signup.css">
</head>

<body>

 <h2>Registration Page</h2>
 <h4>Please provide all informaton below</h4>
 <form class="signup" action="/signup" method="post">
  <input type="text" name="firstName" placeholder="First Name">
  <input type="text" name="lastName" placeholder="Last Name">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Sign Up</button>
 </form>
 <a class="homeS" href="/home">Back Home</a>
 <a class="loginS" href="login">Login</a>

</body>

</html>